.pokemons {
    padding-top: 73px;
    padding-bottom: 23px;
}

.pokemons-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.pokemons-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #000;
}

.pokemons-grid-container {
    height: 480px;

}

.pokemons-grid {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.pokemons-grid::-webkit-scrollbar {
    display: none;
}

.pokemons-grid {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



